*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}
.header{
    position:fixed;
    height: 69px;
    width: 100%;
    display: flex;
    background-color: black;
    z-index: 9;
}
.nav-bar .nav-menu{
    display: inline;
    color: seashell;
    padding: 0 20px;
    text-decoration: underline;
   
}
.nav-bar{
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 50px;
    height: 50px;
    width: 150px;
}
.background-section{
    position: relative;
    display: flex;
    justify-content: center;
    top: 69px;
    height: 700px;
}
.background-Image{
    display: flex;
    width: 100%;
    justify-content: center;
}
.our-Mission{
    position:absolute;
    width: 1200px;
    display: flex;
    z-index: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
    top: 50%;
    background-color: black;
}
.this-h2{
    font-size: x-large;
    color: seashell;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.this-h4{
    color: seashell;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tea-M{
    position:relative;

    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    top: 250px;
    background-color: black;
    
    
}
.tss{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 280px;
    text-align: center;
}
 .berry{
     height: 200px;
     width: 300px;
     padding: 0 0px;
     display: flex;
     text-align: center;
     padding: 0 20px;
 }
 .tss1{
     color: seashell;
 }
 .tssh4{
     margin-top: 10px;
 }
 .tss3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 280px;
    text-align: center;
    margin-top: 30px;
 }
 .background-img{
     background-image: url(images/Locations.webp);
     position: relative;
     height: 600px;
     display: flex;
     color: seashell;
     justify-content: center;
     align-items: center;
     background-repeat: no-repeat;
    
     
 }
 .cl2{
     width: 300px;
     text-align: center;
     line-height: 70px;
     height: 300px;
     margin: 0 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: solid 3px rgb(245, 95, 120);
     overflow: hidden;
 }

 .bottom-section{
     display: flex;
     width: 100%;
     height: 600px;
     position: relative;
     top: 300px;
     justify-content: center;
     align-items: center;
    
 }

 .wrap{
     width: 100%;
     height: 500px;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
 }